body {
    background-image: url(https://images.unsplash.com/photo-1578662996442-48f60103fc96?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTZ8fHxlbnwwfHx8fHw%3D);
    margin: 50px;
}

.container {
    text-align: center;
    justify-content: center;
    margin: 2px;
}

.main {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
tr {
    border: 5px solid #000000;
}

img {
    padding: 5px;
    margin: 5px;
}

h6 {
    color: #FFFFFF;
}

h2 {
    color: #b7a69c;
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: #b7a69c;
}

hr {
  border-top: 3px solid #FFFFFF;
}

.btn-primary {
    background-color: #b7a69c;
    border-color: #b7a69c;
}

.btn-primary:hover {
  background-color: #6d605a;
  border-color: #6d605a;
}

